.cursor {
  position: fixed;
  top: -15px;
  left: -15px;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  backdrop-filter: blur(1px);
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    transform 0.05s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Removing cursor from mobile devices */
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.cursor.pointer {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
